.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}

.quote small.author {
    font-weight: bold;
    color: #3677E8;
}

.quote .tags {
    margin-top: 10px;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
    text-decoration: none;
}

.about {
    text-decoration: none;
}

ul.pager {
    margin-bottom: 100px !important;
}

.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager li {
    display: inline;
}

.pager .next>a, .pager .next>span {
    /*float: right;*/
    margin-right: auto;
}

.pager .previous>a, .pager .previous>span {
    /*float: left;*/
    margin-left: auto;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.pager a {
    color: #333333;
}

a {
    color: #4582ec;
    text-decoration: none;
}

/*.navbar-nav {*/
/*    background-color: #f8f9fa; !* колір фону *!*/
/*    border: 1px solid #ced4da; !* рамка *!*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); !* тінь *!*/
/*    padding: 10px; !* відступи *!*/
/*    text-align: center; !* вирівнювання тексту *!*/
/*}*/

/*.nav-link {*/
/*    color: #000000; !* колір тексту *!*/
/*    transition: color 0.3s ease; !* анімація при зміні кольору тексту *!*/
/*}*/

/*.nav-link:hover {*/
/*    color: #007bff; !* колір тексту при наведенні *!*/
/*}*/
